* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
  background: #ff007f;
}

.campaign {
  font-size: 3.8rem;
  color: white;
  text-shadow: -4px 0px blue;
  font-weight: 800;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
